<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>


<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script>
	$(function() {
		$("#expireDate").datepicker();
	});
</script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->

		<div class="panel panel-default">
			<div class="panel-body">
				<h4>
					<span class="label label-primary">Enter Advertisement
						Information</span>
				</h4>
				<div class="alert alert-danger" role="alert"
					th:text="${errorMessage}">...</div>


				<div>
					<form class="form-horizontal" th:object="${content}"
						th:action="@{/admin/saveAddContent}" method="post" action="#"
						enctype="multipart/form-data">
						<input type="hidden" th:field="*{id}" />


						<div class="form-group">
							<label class="col-sm-2 control-label">Advertisement Page</label>
							<div class="col-sm-5">
								<select th:field="*{contentPage}" class="form-control">
									<option value="0" label="--- Select ---" />
									<option value="Index" label="Index" />
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Advertisement
								Section</label>
							<div class="col-sm-5">
								<select th:field="*{add_section}" class="form-control">
									<option value="0" label="--- Select ---" />
									<option value="add1" label="Add 1" />
									<option value="add2" label="Add 2" />
									<option value="add3" label="Add 3" />
									<option value="add4" label="Add 4" />
									<option value="add5" label="Add 5" />
									<option value="add6" label="Add 6" />


								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Advertisement
								Content Header :</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{header}" />
								<p th:if="${#fields.hasErrors('header')}" th:errors="*{header}">Header</p>
							</div>

						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Advertisement
								Content Summary:</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="8"
									style="margin-top: 10px;"
									placeholder="Write about content summary  here......."
									name="composition" th:inline="text"
									th:field="*{content_summary}">
                            </textarea>
								<p th:if="${#fields.hasErrors('content_summary')}"
									th:errors="*{content_summary}">Header</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Content Details:</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="8"
									style="margin-top: 10px;"
									placeholder="Write about content details  here......."
									name="composition" th:inline="text"
									th:field="*{content_details}">
                            </textarea>
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-2 control-label">Upload Image:</label>
							<div class="col-sm-10">
								<input type="file" class="form-control" name="file" />
							</div>

						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Expire Date:</label>
							<div class="col-sm-10">
								<input type="text" id="expireDate" class="form-control"
									th:field="*{expireDate}"
									th:value="${#dates.format(content.expireDate,'MM/dd/yyyy')}" />
								<p th:if="${#fields.hasErrors('expireDate')}"
									th:errors="*{expireDate}">Invalid Date</p>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">
									<span class="glyphicon glyphicon-floppy-disk"
										aria-hidden="true"></span>
								</button>
							</div>
						</div>

					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>