<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>
					<span class="label label-primary">Drug Search</span>
				</h4>
				<form class="form-inline" th:object="${drug}"
					th:action="@{/drugSearch}" method="get">
					<div class="form-group">
						<label class="col-sm-4 control-label">Brand Name</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" th:field="*{drugName}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 ontrol-label">Generic</label>
						<div class="col-sm-5">

							<input type="text" class="form-control" th:field="*{genericName}" />

						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">Manufacturer</label>
						<div class="col-sm-5">
							<div th:if="${brands != null and not #lists.isEmpty(brands)}">
								<select th:field="*{manufacturerId}" class="form-control">
									<option value="0" label="--- Select ---" />
									<option th:each="brand : ${brands}"
										th:value="${{brand.manufacturerId}}"
										th:text="${brand.manufacturer}">Select Brand</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
					<div class="form-group">
						<a href="/drugList" class="btn btn-success" role="button">Reset
						</a>

					</div>


				</form>
			</div>
		</div>

		<div th:if="${not #lists.isEmpty(drugs)}">

			<div class="panel panel-default">
				<div class="panel-body">
					<h4>
						<span class="label label-primary">Drug List</span>
					</h4>
					<table class="table table-striped">
						<tr style="border-style: groove">

							<th>Brand Name</th>
							<th>Generic Name</th>
							<th>Manufacturer Name</th>
							<th>Price</th>
							<th>View</th>
							<th>Price Comparison</th>
<!-- 							<th -->
<!-- 								sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')">Edit</th> -->
<!-- 							<th -->
<!-- 								sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')">Delete</th> -->
						</tr>
						<tr th:each="drug : ${drugs}" style="border-style: groove">
							<td th:text="${drug.drugName}">Brand Name</td>
							<td th:text="${drug.drugGeneric.genericName}">Generic Name</td>
							<td th:text="${drug.drugManufacturer.manufacturer}">Manufacturer
								Name</td>
							<td th:text="${drug.drugprice}">Price</td>

							<td><a th:href="${'/drug/' + drug.id}">Details</a></td>
							<td><a th:href="${'/drug/drugByGenericForComparison/' + drug.drugGeneric}">Price Comparison</a></td>
							
						</tr>
					</table>

				</div>
			</div>

		</div>
		<!-- Pagination Bar -->
		<div th:fragment='paginationbar'>
			<div>
				<ul class='pagination pagination-centered'>
					<li th:class="${page.firstPage}?'disabled':''"><span
						th:if='${page.firstPage}'>First</span> <a
						th:if='${not page.firstPage}'
						th:href='@{${page.url}(page=0,size=${page.size})}'>First</a></li>
					<li th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
						th:if='${not page.hasPreviousPage}'>Prev</span> <a
						th:if='${page.hasPreviousPage}'
						th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
						title='Go to previous page'>Prev</a></li>
					<li th:each='item : ${page.items}'
						th:class="${item.current}? 'active' : ''"><span
						th:if='${item.current}' th:text='${item.number}'>1</span> <a
						th:if='${not item.current}'
						th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
							th:text='${item.number}'>1</span></a></li>
					<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
						th:if='${not page.hasNextPage}'>Next</span> <a
						th:if='${page.hasNextPage}'
						th:href='@{${page.url}(page=${page.number},size=${page.size})}'
						title='Go to next page'>Next</a></li>
					<li th:class="${page.lastPage}? 'disabled' : ''"><span
						th:if='${page.lastPage}'>Last</span> <a
						th:if='${not page.lastPage}'
						th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last</a></li>
				</ul>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(drugs)}">

			<div class="alert alert-info" role="alert">No Data Found</div>

		</div>
	</div>

</body>
</html>