<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->


		<div th:if="${not #lists.isEmpty(drugs)}">

			<div class="panel panel-default">
				<div class="panel-body">
					<h4>
						<span class="label label-primary">Search Results</span>
					</h4>
					<table class="table" >
					<thead class="thead-inverse">
						<tr class="bg-primary" >

	                        <th>Generic Name</th>
							<th>Brand Name</th>						
							<th>Manufacturer Name</th>
							<th>View</th>

						</tr>
						</thead>
						<tbody>
						<tr th:each="drug : ${drugs}" style="border-style: ridge">
	                        <td th:text="${drug.drugGeneric.genericName}">Generic Name</td>
							<td th:text="${drug.drugName}">Brand Name</td>						
							<td th:text="${drug.drugManufacturer.manufacturer}">Manufacturer
								Name</td>
								
								<td><a
								th:href="${'/drugGenericDetails/' + drug.drugGeneric.idGeneric}"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> </a></td>
							

						</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
		<!-- Pagination Bar -->
		<div th:fragment='paginationbar'>
			<div>
				<ul class='pagination pagination-centered'>
					<li th:class="${page.firstPage}?'disabled':''"><span
						th:if='${page.firstPage}'>First</span> <a
						th:if='${not page.firstPage}'
						th:href='@{${page.url}(page=0,size=${page.size})}'>First</a></li>
					<li th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
						th:if='${not page.hasPreviousPage}'>Prev</span> <a
						th:if='${page.hasPreviousPage}'
						th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
						title='Go to previous page'>Prev</a></li>
					<li th:each='item : ${page.items}'
						th:class="${item.current}? 'active' : ''"><span
						th:if='${item.current}' th:text='${item.number}'>1</span> <a
						th:if='${not item.current}'
						th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
							th:text='${item.number}'>1</span></a></li>
					<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
						th:if='${not page.hasNextPage}'>Next</span> <a
						th:if='${page.hasNextPage}'
						th:href='@{${page.url}(page=${page.number},size=${page.size})}'
						title='Go to next page'>Next</a></li>
					<li th:class="${page.lastPage}? 'disabled' : ''"><span
						th:if='${page.lastPage}'>Last</span> <a
						th:if='${not page.lastPage}'
						th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last</a></li>
				</ul>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(drugs)}">

			<div class="alert alert-info" role="alert">No Data Found</div>

		</div>
	</div>

</body>
</html>