<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
			<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h2>Drug Details</h2>
		
		<div style="overflow-y: scroll; height:600px;">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Drug Id:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.id}">Drug Id</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Brand Name:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.drugName}">Name</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Generic:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.genericName}">Generic
							Name</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Manufacturer:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.manufacturer}">Manufacturer
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Composition:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.composition}">Composition
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Indication:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.indication}">Indication
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Dosages Administration:</label>
					<div class="col-sm-10">
						<p class="form-control-static"
							th:text="${drug.dosagesAdministration}">DosagesAdministration</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Contra indication:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.contraindication}">Contra
							indication</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">SideEffect:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.sideEffect}">SideEffect
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Special warning/Precautions:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.specialWarningPrecautions}">SpecialWarningPrecautions
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Drug Interaction:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.drugInteraction}">DrugInteraction
						</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Storage:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.storage}">Storage
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Pregnancy/Lactation:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.pregnancyLactation}">PregnancyLactation
						</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Drug price:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${drug.drugprice}">Drug price
						</p>
					</div>
				</div>

			</form>
		</div>
	</div>

</body>
</html>