<!DOCTYPE html>
<html>
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="bs-example" data-example-id="navbar-form">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="collapsed navbar-toggle"
									data-toggle="collapse"
									data-target="#bs-example-navbar-collapse-2"
									aria-expanded="false">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
								<h4 class="text-primary">
									<strong>Drug Search</strong>
								</h4>
							</div>
							<div class="collapse navbar-collapse"
								id="bs-example-navbar-collapse-2">
								<form class="navbar-form navbar-left" th:object="${drug}"
									th:action="@{/drugSearchFromIndex}" method="post">
									<div class="form-group">

										<div class="col-sm-5">
											<input type="text" class="form-control"
												th:field="*{drugName}" />
										</div>
									</div>

									<button type="submit" class="btn btn-default">Submit</button>
								</form>
							</div>
						</div>
					</nav>
				</div>

				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<!-- 							<img src="..." alt="..."> -->
							<div class="caption">
								<h3>
									<span class="label label-primary">Drug Update</span>
								</h3>
								<div class="list-group">
									<a href="#" class="list-group-item ">
										<h4 class="list-group-item-heading">List group item
											heading</h4>
										<p class="list-group-item-text">...</p>
									</a> <a href="#" class="list-group-item ">
										<h4 class="list-group-item-heading">List group item
											heading</h4>
										<p class="list-group-item-text">...</p>
									</a> <a href="#" class="list-group-item ">
										<h4 class="list-group-item-heading">List group item
											heading</h4>
										<p class="list-group-item-text">...</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<!-- 							<img src="..." alt="..."> -->
							<div class="caption">
								<h3>
									<span class="label label-primary">News</span>
								</h3>
								<div class="list-group">
									<a href="#" class="list-group-item ">
										<h4 class="list-group-item-heading">List group item
											heading</h4>
										<p class="list-group-item-text">...</p>
									</a> <a href="#" class="list-group-item ">
										<h4 class="list-group-item-heading">List group item
											heading</h4>
										<p class="list-group-item-text">...</p>
									</a> <a href="#" class="list-group-item ">
										<h4 class="list-group-item-heading">List group item
											heading</h4>
										<p class="list-group-item-text">...</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">

							<img src="../../static/images/drug.jpg" width="400"
								th:src="@{/images/drug.jpg}" />


							<div class="caption">
								<h3>Thumbnail label</h3>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget
									quam. Donec id elit non mi porta gravida at eget metus. Nullam
									id dolor id nibh ultricies vehicula ut id elit.</p>
								<p>
									<a href="#" class="btn btn-primary" role="button">Button</a> <a
										href="#" class="btn btn-default" role="button">Button</a>
								</p>
							</div>
						</div>

					</div>

				</div>

				<div class="row"  align="center">

					<div class="bs-example" data-example-id="contextual-panels"  align="center">
						<div class="panel panel-primary"  align="center">
							<div class="panel-heading">
								<h3 class="panel-title">Alphabetic Brand Index</h3>
							</div>
							<div class="panel-body">
								<div class="btn-toolbar" role="toolbar"
									aria-label="Toolbar with button groups" align="center">
									<div class="btn-group" role="group" aria-label="First group"
										align="center">
										<a href="/index/drugByBrand/A" class="btn btn-default"
											role="button">A </a> <a href="/index/drugByBrand/B"
											class="btn btn-default" role="button">B</a> <a
											href="/index/drugByBrand/C" class="btn btn-default"
											role="button">C </a> <a href="/index/drugByBrand/D"
											class="btn btn-default" role="button">D</a> <a
											href="/index/drugByBrand/E" class="btn btn-default"
											role="button">E </a> <a href="/index/drugByBrand/F"
											class="btn btn-default" role="button">F </a> <a
											href="/index/drugByBrand/G" class="btn btn-default"
											role="button">G</a> <a href="/index/drugByBrand/H"
											class="btn btn-default" role="button">H </a> <a
											href="/index/drugByBrand/I" class="btn btn-default"
											role="button">I </a> <a href="/index/drugByBrand/J"
											class="btn btn-default" role="button">J </a> <a
											href="/index/drugByBrand/K" class="btn btn-default"
											role="button">K </a> <a href="/index/drugByBrand/L"
											class="btn btn-default" role="button">L </a> <a
											href="/index/drugByBrand/M" class="btn btn-default"
											role="button">M </a><a href="/index/drugByBrand/N"
											class="btn btn-default" role="button">N </a><a
											href="/index/drugByBrand/O" class="btn btn-default"
											role="button">O </a><a href="/index/drugByBrand/P"
											class="btn btn-default" role="button">P </a><a
											href="/index/drugByBrand/Q" class="btn btn-default"
											role="button">Q </a> <a href="/index/drugByBrand/R"
											class="btn btn-default" role="button">R </a><a
											href="/index/drugByBrand/T" class="btn btn-default"
											role="button">T </a><a href="/index/drugByBrand/U"
											class="btn btn-default" role="button">U </a><a
											href="/index/drugByBrand/V" class="btn btn-default"
											role="button">V </a><a href="/index/drugByBrand/W"
											class="btn btn-default" role="button">W </a> <a
											href="/index/drugByBrand/X" class="btn btn-default"
											role="button">X </a> <a href="/index/drugByBrand/Y"
											class="btn btn-default" role="button">Y </a> <a
											href="/index/drugByBrand/Z" class="btn btn-default"
											role="button">Z</a>


									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Alphabetic Generic Index</h3>
							</div>
							<div class="panel-body">
								<div class="btn-toolbar" role="toolbar"
									aria-label="Toolbar with button groups" align="center">
									<div class="btn-group" role="group" aria-label="First group"
										align="center">
										<a href="/index/drugByGeneric/A" class="btn btn-default"
											role="button">A </a> <a href="/index/drugByGeneric/B"
											class="btn btn-default" role="button">B</a> <a
											href="/index/drugByGeneric/C" class="btn btn-default"
											role="button">C </a> <a href="/index/drugByGeneric/D"
											class="btn btn-default" role="button">D</a> <a
											href="/index/drugByGeneric/E" class="btn btn-default"
											role="button">E </a> <a href="/index/drugByGeneric/F"
											class="btn btn-default" role="button">F </a> <a
											href="/index/drugByGeneric/G" class="btn btn-default"
											role="button">G</a> <a href="/index/drugByGeneric/H"
											class="btn btn-default" role="button">H </a> <a
											href="/index/drugByGeneric/I" class="btn btn-default"
											role="button">I </a> <a href="/index/drugByGeneric/J"
											class="btn btn-default" role="button">J </a> <a
											href="/index/drugByGeneric/K" class="btn btn-default"
											role="button">K </a> <a href="/index/drugByGeneric/L"
											class="btn btn-default" role="button">L </a> <a
											href="/index/drugByGeneric/M" class="btn btn-default"
											role="button">M </a><a href="/index/drugByGeneric/N"
											class="btn btn-default" role="button">N </a><a
											href="/index/drugByGeneric/O" class="btn btn-default"
											role="button">O </a><a href="/index/drugByGeneric/P"
											class="btn btn-default" role="button">P </a><a
											href="/index/drugByGeneric/Q" class="btn btn-default"
											role="button">Q </a> <a href="/index/drugByGeneric/R"
											class="btn btn-default" role="button">R </a><a
											href="/index/drugByGeneric/T" class="btn btn-default"
											role="button">T </a><a href="/index/drugByGeneric/U"
											class="btn btn-default" role="button">U </a><a
											href="/index/drugByGeneric/V" class="btn btn-default"
											role="button">V </a><a href="/index/drugByGeneric/W"
											class="btn btn-default" role="button">W </a> <a
											href="/index/drugByGeneric/X" class="btn btn-default"
											role="button">X </a> <a href="/index/drugByGeneric/Y"
											class="btn btn-default" role="button">Y </a> <a
											href="/index/drugByGeneric/Z" class="btn btn-default"
											role="button">Z</a>

									</div>
								</div>

							</div>
						</div>

					</div>

					<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

				</div>


			</div>
		</div>

	</div>

</body>
</html>