<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

	<div class="container">
		<div th:fragment="header">

			<div class="row">
				<div class="col-md-8">
					<h1>
						<p class="text-primary">
							<strong>Rx MIMS Bangladesh </strong>
						</p>
					</h1>
				</div>
				<div class="col-md-4" align="right">
					<h5 th:inline="text" sec:authorize="isAuthenticated()">
						Welcome
						<div sec:authentication="name">.</div>
						<form th:action="@{/logout}" method="post">
							<input type="submit" value="Sign Out" class="btn btn-primary" />
						</form>
					</h5>
					<h5 th:inline="text" sec:authorize="!isAuthenticated()">
						<form th:action="@{/manager}" method="get">
							<input type="submit" value="Login" class="btn btn-primary" />
						</form>
					</h5>
				</div>
			</div>

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
						<ul class="nav navbar-nav" sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Drugs <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/admin/drugGenericList}">Generics</a></li>
									<li><a href="#" th:href="@{/drugList}">Drugs</a></li>
								</ul></li>
						</ul>
							<ul class="nav navbar-nav" sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Contents<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/admin/addList}">Advertisement</a></li>
									<li><a href="#" th:href="@{/admin/newsList}">News</a></li>
									<li><a href="#" th:href="@{/admin/drugUpdateList}">Drug Updates</a></li>
								</ul></li>
						</ul>

						<ul class="nav navbar-nav">							
							<li><a href="#" th:href="@{/specializations}">Doctors </a></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">News <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">General News</a></li>
									<li><a href="#">Drug Updates</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav navbar-right"
							sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Settings <span class="caret"></span></a>
								<ul class="dropdown-menu">									
									<li><a href="#" th:href="@{/admin/contentList}">Contents
									</a></li>
									<li><a href="#" th:href="@{/admin/contentList}">Access
											Control</a></li>
									<li><a href="#">Message Box</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Version Information</a></li>
								</ul></li>
						</ul>

					</div>
				</div>
			</nav>
		</div>
	</div>
</body>
</html>