<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>
					<span class="label label-primary">Drug Generic Search</span>
				</h4>
				<form class="form-inline" th:object="${drugGeneric}"
					th:action="@{/drugGenericSearch}" method="post">
					<div class="form-group">
						<label class="col-sm-4 control-label">Generic Name</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" th:field="*{genericName}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
					<div class="form-group">
						<a href="/drugList" class="btn btn-success" role="button">Reset
						</a>

					</div>


				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">

				<a href="/generic/new" class="btn btn-success" role="button">Add
					New Drug</a>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(drugGenerics)}">

			<div class="panel panel-default">
				<div class="panel-body">
					<h4>
						<span class="label label-primary">Drug Generic List</span>
					</h4>
					<table class="table table-striped">
						<tr>
							<th>Id</th>
							<th>Generic Name</th>					
							<th>Remarks</th>					
							<th>Edit</th>
							<th>Delete</th>
						</tr>
						<tr th:each="generic : ${drugGenerics}">
							<td th:text="${generic.idGeneric}"><a href="/generic/${generic.idGeneric}">Id</a></td>							
							<td th:text="${generic.genericName}">Generic Name</td>
							<td th:text="${generic.remarks}">Remarks</td>						
							<td><a th:href="${'/generic/edit/' + generic.idGeneric}">Edit</a></td>
							<td><a th:href="${'/generic/delete/' + generic.idGeneric}">Delete</a></td>
						</tr>
					</table>

				</div>
			</div>

		</div>
	</div>

</body>
</html>