<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->



</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->

		<h3 th:text="${generic.genericName}" style="border-style: groove" align="center"></h3>
		<div style="overflow-y: scroll; height: 900px;">
			<form class="form-horizontal">
		

				<div class="form-group">
					<label class="col-sm-2 control-label">Generic Name:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${generic.genericName}">Generic Name</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Classification:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${generic.classification}">Classification</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Safety Remarks:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${generic.safetyRemarks}">Safety Remarks
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Indication Dosage:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${generic.indicationDosages}">Indication Dosage
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Contraindications(CI):</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${generic.contraindication}">ci
						</p>
					</div>
				</div>
		
				<div class="form-group">
					<label class="col-sm-2 control-label">Special
								Precaution(SP):</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${generic.specialPrecaution}">specialPrecaution</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Advance Drug
								Reaction(ADR):</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${generic.advanceDrugReaction}">adr
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Inter Action(INT):</label>
					<div class="col-sm-10">
						<p class="form-control-static"
							th:text="${generic.interAction}">int
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Remarks:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${generic.remarks}">Remarks
						</p>
					</div>
				</div>

				
			</form>
			
				<div th:if="${not #lists.isEmpty(drugs)}">

			<div class="panel panel-default">
				<div class="panel-body">
					<h4>
						<span class="label label-primary">Brand List</span>
					</h4>
					<table class="table table-striped">
						<tr style="border-style: groove">

							<th>Brand Name</th>					
							<th>Manufacturer Name</th>
							
							<th>Strength</th>
							<th>Storage</th>
							<th>Price</th>
											
							</tr>
						<tr th:each="drug : ${drugs}" style="border-style: groove">
							<td th:text="${drug.drugName}">Brand Name</td>						
							<td th:text="${drug.drugManufacturer.manufacturer}">Manufacturer
								Name</td>
									<td th:text="${drug.strength}">Strength</td>	
									<td th:text="${drug.storage}">Storage</td>	
									
							<td th:text="${drug.drugprice}">Price</td>											
							
						</tr>
					</table>

				</div>
			</div>

		</div>
		<div th:if="${#lists.isEmpty(drugs)}">

			<div class="alert alert-info" role="alert">No Data Found</div>

		</div>
	
		</div>
	

	
	
	</div>

</body>
</html>