<!DOCTYPE html>
<html>
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc:: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="bs-example" data-example-id="navbar-form">
					<nav class="navbar navbar-default">
						<div class="container-fluid">

				

						</div>
					</nav>
				</div>

			</div>
		</div>

	</div>

</body>
</html>