<!DOCTYPE html>
<html>
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc:: head"></th:block> /*/-->



</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200"
							src="../../static/images/manager/drugs.jpg"
							th:src="@{/images/manager/drugs.jpg}" data-holder-rendered="true"
							style="height: 200px; width: 100%; display: block;" />
						<div class="caption">
							<h3>Complete Drug Directory</h3>
							<p>Explore complete generic and drug information</p>

						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200"
							src="../../static/images/manager/doctors.jpg"
							th:src="@{/images/manager/doctors.jpg}"
							data-holder-rendered="true"
							style="height: 200px; width: 100%; display: block;" />
						<div class="caption">
							<h3>Doctors by Specializations</h3>
							<p>Largest doctors directory</p>

						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200"
							src="../../static/images/manager/drugcompare.jpg"
							th:src="@{/images/manager/drugcompare.jpg}"
							data-holder-rendered="true"
							style="height: 200px; width: 100%; display: block;" />

						<div class="caption">
							<h3>Drug Comparison</h3>
							<p>Find Price comparison for same generic</p>

						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- container -->

	</div>

</body>
</html>