<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>


<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script>
	$(function() {
		$("#serialDate").datepicker();
	});
</script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->

		<div class="panel panel-default">
			<div class="panel-body">
				<h4>
					<span class="label label-primary">Enter Doctors Information</span>
				</h4>
				<div>
					<form class="form-horizontal" th:object="${doctor}"
						th:action="@{/doctor/SaveDoctor}" method="post" action="#">
						<input type="hidden" th:field="*{id}" />
						<div class="form-group">
							<label class="col-sm-2 control-label">Specialization(*):</label>
							<div class="col-sm-10">
								<div
									th:if="${specializations != null and not #lists.isEmpty(specializations)}">
									<select th:field="*{idSpecialization}" class="form-control">
										<option value="0" label="--- Select ---" />
										<option th:each="item: ${specializations}"
											th:value="${item.idSpecialization}"
											th:text="${item.specializationName}">Select Brand</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Doctor Name(*):</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" th:field="*{doctorName}" />
								<p th:if="${#fields.hasErrors('doctorName')}"
									th:errors="*{doctorName}">Invalid Name</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Doctor Details:</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="8"
									style="margin-top: 10px;"
									placeholder="Write about doctor's details  here......."
									name="doctorDetails" th:inline="text"
									th:field="*{doctorDetails}">
                            </textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Doctor Chamber:</label>
							<div class="col-sm-10">

								<textarea class="form-control" rows="8"
									style="margin-top: 10px;"
									placeholder="Write about doctor's chamber  here......."
									name="chamber" th:inline="text" th:field="*{chamber}">
                            </textarea>

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Inserted By:</label>
							<div class="col-sm-10">

								<input type="text" class="form-control" th:field="*{insertedBy}" readonly="readonly"/>

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Insert Date:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"  th:field="*{insertDate}" readonly="readonly" />


							</div>
						</div>



						<div class="form-group">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">
									<span class="glyphicon glyphicon-floppy-disk"
										aria-hidden="true"></span>
								</button>
							</div>
						</div>

					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>