<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->


		<div class="panel panel-default">
			<div class="panel-body">
				<h4>
					<span class="label label-primary" th:text="${specialization}">
					</span>
				</h4>
				<div th:if="${not #lists.isEmpty(doctors)}">

					<div class="list-group">
						<th:block th:each="item : ${doctors}">
							<a href="#" class="list-group-item">
								<h4 class="list-group-item-heading" th:text="${item.doctorName}">List
									group item heading</h4>
								<p class="list-group-item-text" th:text="${item.doctorDetails}">...</p>
								<p class="list-group-item-text" th:text="|cham: ${item.chamber}|">...</p>
							</a>
						</th:block>
					</div>

				</div>
				<div th:if="${#lists.isEmpty(doctors)}">

					<div class="alert alert-info" role="alert">No Data Found</div>

				</div>
			</div>

		</div>
	</div>

</body>
</html>