<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->


		<div class="panel panel-default">
			<div class="panel-body">
				<h4>
					<span class="label label-primary" th:text="${specialization}">
					</span>
				</h4>
				<div th:if="${not #lists.isEmpty(doctors)}"
					style="overflow-y: scroll; height: 600px;">

					<div class="list-group">
						<th:block th:each="item : ${doctors}">	

							<div class="list-group">
								<a href="#" class="list-group-item active"
									th:text="${item.doctorName}"> Doctor Name </a> <a href="#"
									class="list-group-item" th:text="${item.doctorDetails}">Doctor
									Details</a> <a href="#" class="list-group-item"
									th:text="|cham: ${item.chamber}|">chamberinfo</a> <a
									th:href="${'/doctor/edit/' + item.id}"
									sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')">Edit</a>
								<a th:href="${'/doctor/delete/' + item.id}"
									sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')">Delete</a>

							</div>
						</th:block>
					</div>

				</div>
				<div th:if="${#lists.isEmpty(doctors)}">

					<div class="alert alert-info" role="alert">No Data Found</div>

				</div>
			</div>

		</div>
	</div>

</body>
</html>