<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->

		<div th:if="${not #lists.isEmpty(specializations)}">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>
						<span class="label label-primary">Specializations </span>
					</h4>
					<ul class="list-group">
						<li class="list-group-item"><span class="badge">14</span> New
							doctors added</li>
					</ul>

					<table class="table table-striped">
						<tr>
							<th>Id</th>
							<th>Specialization</th>
							<th>Doctors</th>
						</tr>
						<tr th:each="specialization : ${specializations}">
							<td th:text="${specialization.idSpecialization}"><a
								href="/doctors/${doctor.id}">Id</a></td>
							<td th:text="${specialization.specializationName}">Specialization
								Name</td>
							<td><a th:href="${'/doctorsList/' + specialization.idSpecialization}">Doctors</a></td>
						</tr>
					</table>

				</div>
			</div>

		</div>
	</div>

</body>
</html>