<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98606843-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->
		<div class="panel panel-default" sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')">
			<div class="panel-body">

				<a href="/doctor/new" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(specializations)}">
			<div class="panel panel-default">
				<div class="panel-body">

					<button class="btn btn-primary" type="button">
					  Total	Doctors <span class="badge" th:text="${doctorCount}">4</span>
					</button>		

				</div>
				<div class="panel-body">

					<table class="table table-striped">
						<tr>
							<th>Doctors by Specialization</th>
							<th></th>
						</tr>
						<tr th:each="specialization : ${specializations}" >
							<td ><a
								th:href="${'/doctorsList/' + specialization.idSpecialization+'/'+specialization.specializationName}" th:text="${specialization.specializationName}" class="btn btn-success"
									role="button">Specialization</a></td>

						</tr>
					</table>

				</div>
			</div>

		</div>
	</div>

</body>
</html>