<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{index.page.title}">Page Title</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/headerForManager :: header"></th:block> /*/-->
		<div class="panel panel-default" sec:authorize="hasAuthority('ADMIN') or hasAuthority('MANAGER')">
			<div class="panel-body">

				<a href="/doctor/new" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(specializations)}">
			<div class="panel panel-default">
				<div class="panel-body">

					<button class="btn btn-primary" type="button">
					  Total	Doctors <span class="badge" th:text="${doctorCount}">4</span>
					</button>

					<h4>
						<span class="label label-primary">Specialists </span>
					</h4>

				</div>
				<div class="panel-body">

					<table class="table table-striped">
						<tr style="border-style: groove">
							<th>Doctors by Specialization</th>
							<th></th>
						</tr>
						<tr th:each="specialization : ${specializations}" style="border-style: groove">
							<td th:text="${specialization.specializationName}"><a
								th:href="${'/doctorsList/' + specialization.idSpecialization+'/'+specialization.specializationName}">Specialization</a></td>
							<td><a
								th:href="${'/doctorsList/' + specialization.idSpecialization+'/'+specialization.specializationName}">Doctors</a></td>
						</tr>
					</table>

				</div>
			</div>

		</div>
	</div>

</body>
</html>